* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.grid {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(41, 42, 41);
    height: 10vh;
}


/* .logo {
    display: flex;
    align-items: center;
    width: 30%;
} */

#header-img {
    width: 65px;
}

.logo span {
    color: rgb(100, 153, 15);
    font-size: 1.6rem;
}

#nav-bar ul {
    display: flex;
}

#nav-bar ul li {
    list-style: none;
    margin-inline: 1rem;
}

#nav-bar ul li a {
    color: rgb(244, 248, 19);
    font-size: 1.3rem;
}

main {
    max-width: 1440px;
    margin: 150px auto 0px auto;
    padding: 1rem 2rem;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(242, 245, 238);
    padding: 2rem;
}

#menu article {
    flex: 0 0 30%;
}

#menu article figure {
    padding: 1rem;
    background: rgb(41, 42, 41);
    display: flex;
    flex-direction: column;
}

#menu article figure img {
    width: 100%;
}

#menu article figure p {
    color: rgb(242, 245, 238);
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

#menu article figure figcaption {
    color: rgb(221, 38, 14);
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

#menu article figure button {
    background: rgb(100, 153, 15);
    color: rgb(221, 38, 14);
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    letter-spacing: 0.2rem;
}

#menu article figure button:hover {
    color: rgb(244, 248, 19);
    background: rgb(221, 38, 14);
    transition: all 0.3s ease;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h2 {
    margin-block: 2rem;
    color: rgb(221, 38, 14);
}

#about p {
    margin-top: 2rem;
    font-size: 1.1rem;
}

#contact {
    margin: 100px auto;
    width: 40%;
    height: 30vh;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form input {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

#contact form #submit {
    background: rgb(100, 153, 15);
    color: rgb(221, 38, 14);
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    letter-spacing: 0.2rem;
}

@media (max-width: 688px) {
    #menu article {
        flex: 0 0 100%;
        margin-top: 1rem;
    }
    #nav-bar ul li a {
        font-size: 1rem;
    }
    #video {
        width: 90%;
        height: auto;
    }
    #contact {
        width: 80%;
    }
}

@media (max-width: 480px) {
    #menu article figure button {
        padding: 0.2rem 0.7rem;
        font-size: 1.1rem;
    }
}